
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员首页</title>
    <link rel="stylesheet" href="~/css/layui.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">管理员首页</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="../Home/Logon">退了</a></li>
            </ul>
        </div>

        <div class="layui-col-md12">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">用户管理</li>
                    <li>角色管理</li>
                    <li>店家管理</li>
                </ul>
                <div class="layui-tab-content">
                    @*用户管理*@
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table userTable">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>账号</th>
                                    <th>角色</th>
                                    <th>状态</th>
                                    <th>是否为商家</th>
                                    <th colspan="4">工具栏</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>



                    </div>
                    @*角色管理*@
                    <div class="layui-tab-item RoleNames">

                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th width="20%">角色</th>
                                    <th width="60%">描述</th>
                                    <th colspan="2" width="20%">功能</th>
                                </tr>
                            </thead>
                            <tbody class="role">
                                @*<tr>
                                    <td>人生就像是一场修行</td>
                                    <td width="10%"><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"><i class="layui-icon removeBtn">&#xe640;</i></button></td>
                                    <td width="10%"><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"><i class="layui-icon">&#xe642;</i></button></td>
                                </tr>
                                <tr>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                    <td width="10%"><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"><i class="layui-icon">&#xe640;</i></button></td>
                                    <td width="10%"><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"><i class="layui-icon">&#xe642;</i></button></td>
                                </tr>*@
                            </tbody>
                        </table>
                        <form class="layui-form" action=""></form>
                        <button class="layui-btn layui-btn-radius AddRole">添加角色</button>
                    </div>
                    @*店家管理*@
                    <div class="layui-tab-item AllShops">
                        <table class="layui-table storeTable">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>地址</th>
                                    <th>电话</th>
                                    <th>状态</th>
                                    <th>申请</th>
                                    <th colspan="2">修改</th>

                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td>123456</td>
                                    <td>贤心</td>
                                    <td>jkgas12321</td>
                                    <td>12345678901</td>
                                    <th>审核中</th>

                                    <th><button class="layui-btn layui-btn-sm layui-btn-radius isable">申请</button></th>
                                    <th><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger remove"><i class="layui-icon">&#xe640;</i></button></th>
                                    <th><button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal settingRole">修改</button></th>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/Scripts/js/layui.js"></script>
    <script src="~/Scripts/js/index.js"></script>
    <script>
        $(function () {
            $.post("../User/GetAllUser", {}, function (reData) {
                //console.log(reData);
            })
        })
        //JavaScript代码区域
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });

        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });

        
    </script>

</body>
</html>