
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员首页</title>
    <link rel="stylesheet" href="~/css/layui.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">管理员首页</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                @*<li class="layui-nav-item"><button id="storeFun" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"><i class="layui-icon">&#xe66f;</i>商店管理</button></li>*@
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="../Home/Logon">退了</a></li>
            </ul>
        </div>

        <div class="layui-col-md12">
            <table class="layui-table storeTable" lay-filter="shopStore">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>菜名</th>
                        <th>价格</th>
                        <th>店铺</th>
                        <th>销量</th>
                        <th>图片</th>
                        <th width="10%">购买</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>阿薩德</td>
                        <td>10</td>
                        <td>大大</td>
                        <td>20</td>
                        <td><img src="#" alt="Alternate Text" /></td>
                        <td>

                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger chooseBtn">购买</button>
                                    @*<input class='chooseBtn' type="checkbox" name="like[payFor]" title="购买">*@
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/js/layui.js"></script>
    <script src="~/scripts/js/search.js"></script>
</body>
</html>